<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="~/images/logo.png" width="30" height="30" alt=""> Book Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="
">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="AboutUs">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="GetAllBooks">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="GetAllBooks" asp-protocol="http" asp-host="ytWebGentile.com">new link</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="#" class="btn btn-outline-primary mr-2">Login</a>
                <a href="#" class="btn btn-outline-secondary">Register</a>
            </form>
        </div>
    </nav>
</header>

@RenderSection("breadcrumb", false)

<main role="main">
    @RenderBody()
</main>

<footer class="border-top card-footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
    </div>
</footer>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
@RenderSection("scripts", false)
</body>
</html>